# Ignore virtual environment files
myenv/

#ignore environment files
**/.env*
.env


# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore build artifacts
build/
dist/

# Ignore other generated or temporary files
*.swp
*.log


# Ignore Rust build directory
rust_ml_component/target/

# Ignore Python cache directories in any subdirectory
**/__pycache__/

# Ignore pytest cache directories
**/.pytest_cache/


# Ignore DS_Store
.DS_Store
