<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model Trainer</title>
    <!-- Include Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            padding-top: 50px;
        }
        .welcome-message {
            text-align: center;
            margin-bottom: 20px;
        }
        .auth-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .auth-buttons a {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <div class="welcome-message">
        {% if session %}
            <h1>Welcome {{session.userinfo['https://hemingmltrainer.com/username']}}!</h1>
            <div class="auth-buttons">
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </div>
        {% else %}
            <h1>Welcome Guest</h1>
            <div class="auth-buttons">
                <a href="/signup" class="btn btn-success">Sign Up</a>
                <a href="/login" class="btn btn-success">Login</a>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <h1 class="text-center">Upload Data and Train Model</h1>
        <form id="upload-form" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="file">CSV File:</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".csv" required>
            </div>
            <input type="hidden" id="file_reference" name="file_reference">
            <div class="form-check" style="display: none;" id="auto_input_size_container">
                <input class="form-check-input" type="checkbox" name="auto_input_size" id="auto_input_size" checked>
                <label class="form-check-label" for="auto_input_size">
                    Auto-detect Input Size
                </label>
            </div>
            
            <div class="form-check" style="display: none;" id="auto_output_size_container">
                <input class="form-check-input" type="checkbox" name="auto_output_size" id="auto_output_size" checked>
                <label class="form-check-label" for="auto_output_size">
                    Auto-detect Output Size
                </label>
            </div>
            
            <div class="form-check" style="display: none;" id="auto_input_shape_container">
                <input class="form-check-input" type="checkbox" name="auto_input_shape" id="auto_input_shape" checked>
                <label class="form-check-label" for="auto_input_shape">
                    Auto-detect Input Shape
                </label>
            </div>
            <div class="form-group">
                <label for="model_type">Model Type:</label>
                <select class="form-control" name="model_type" id="model_type" required>
                    <option value="">Select a model type</option>
                    <option value="pytorch">PyTorch</option>
                    <option value="tensorflow">TensorFlow</option>
                    <option value="sklearn">scikit-learn</option>
                </select>
            </div>
            <div class="form-group">
                <label for="target_column">Target Column: (The column you want to predict, e.g., 'Species' in Iris Dataset)</label>
                <input type="text" class="form-control" name="target_column" placeholder="Enter target column name" required>
            </div>
            <div id="model_params_container" class="form-group">
                <!-- Model parameters will be inserted here based on the dropdown selection -->
            </div>
            <button type="submit" class="btn btn-primary">Upload and Train</button>
        </form>
        <div id="status-container" style="display:none;" class="mt-4">
            
            <pre id="job-result"></pre>
        </div>
        <div id="download-container" style="display:none;" class="mt-4 text-center">
            <a href="#" id="download-link" class="btn btn-success">Download Model</a>
        </div>
    </div>

    <div id="loadingSpinner" class="spinner-container" style="display:none;">
        <i class="fas fa-spinner fa-spin"></i> Processing...
    </div>
    <div id="statusModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="modal-title">
                <h2>Job Status</h2>
            </div>
            <h3><span id="modal-job-status">Waiting...</span></h3>
            <pre id="modal-job-result"></pre>
            <img id="trainingPlot" src="" style="display: none;" alt="Training History Plot">
            <div id="modal-download-container" class="text-center" style="display:none;">
                <a href="#" id="modal-download-link" class="btn btn-success">Download Model</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>